.App {
	text-align: center;
}

/* header */
.header-main {
	position: absolute;
	width: 90%;
	height: 30%;
}
.header-title {
	margin: 0px;
	background: gray;
	text-align: center;
	display: block;
	width: 100%;
	vertical-align: middle;
}

/* mainpage */
.mainpage-cont {
	width: 100%;
	min-height: 65%;
}

/*input */

/* list */

/* Footer */
.footer {
	width: 100%;
	height: 5%;
}
