/* header */
.header-main {
	width: 90%;
	height: 35%;
}
.header-title {
	margin: 0px;
	background: gray;
	text-align: center;
	display: block;
	width: 100%;
	vertical-align: middle;
}

/* mainpage */
.mainpage-cont {
	width: 100%;
	height: 65%;
}
.mainpage-input .mainpage-list {
	height: 50%;
	width: 50%;
	position: fixed;
	overflow-x: hidden;
	padding-top: 20px;
}

/*input */
poll-input {
	width: 100%;
	content: "\a";
	border: 3px;
}

/* List */

div.list-item {
	background-color: blue;
	max-width: 300px;
}

/* PollPage */
div.pollpage {
	display: block;
	margin: 50px;
	width: 100%;
}
.poll-infos {
	width: 60%;
	margin-right: 30px;
	float: left;
	padding: 10px;
}
.infos-title {
	font-size: 30;
	font-weight: bold;
}
div.chart {
	width: 40%;
	float: left;
	padding-left: 20px;
}
/* Footer */
.footer {
	width: 100%;
	height: 5%;
}

/* Ek */
* {
	box-sizing: border-box;
}

body {
	font-family: Verdana;
	padding: 10px;
	background: #4A3636;
}

/* Header/Blog Title */
.header {
	padding: 30px;
	text-align: center;
	background: white;
}



/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	float: left;
	width: 60%;
	padding: 10px;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

/* Fake image */
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/* Add a card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.leftcolumn,
	.rightcolumn {
		width: 100%;
		padding: 0;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}

/*  form */

.form-style-6 {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px;
	padding: 16px;
	background: #f7f7f7;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
	box-shadow: 0 0 5px #43d1af;
	padding: 3%;
	border: 1px solid #43d1af;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43d1af;
	border-bottom: 2px solid #30c29e;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
	background: #2ebc00;
}


			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;
			}

			.column {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;
				flex:1;
			}
			.blue-column {
				background-color: blue;
				height: 100px;
			}

			.green-column {
				background-color: green;
				height: 100px;
				margin: 15px;
				align-content: center
			}


			/* List */

			.list-title{
				text-align: center
			}