/* header */
.header-main {
  width: 90%;
  height: 35%;
}
.header-title {
  margin: 0px;
  background: gray;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c25817;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 22, 22);
}

/*input */
.input {
  margin-top: 50px;
}

/* List */
.list-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.list-item {
  background-color: rgba(0, 255, 0, 0.2);
  max-width: 400px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: gray;
  font-size: 30px;
}
.item-title {
  font-size: 30px;
  font-weight: bold;
}

.item-option {
  font-size: 20px;
}

/* PollPage */
.result-title {
  font-size: 30px;
  font-weight: bold;
}
.result-item {
  min-width: 400px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.chart {
  max-width: 300px;
  max-height: 300px;
  margin: 30px 0px 0px 50px;
}
.progress-item {
  min-height: 1000px;
}

/* Result */
.pollpage-title {
  font-size: 40px;
  font-weight: bold;
}
.pollpage-option {
  font-size: 30px;
  font-weight: bold;
}
.pollpage-item {
  margin-top: 30px;
}
.chart {
  margin: 30px 0px 0px 50px;
}
.pollpage-check {
  border: 2;

  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.result-button {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: gray;
  font-size: 30px;
}

/* chart */
.chartdiv {
  max-width: 200px;
  max-height: 200px;
}

/* Footer */
.footer {
  width: 100%;
  height: 5%;
}

/* Ek */
* {
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {
  body {
    font-family: Verdana;
    padding: 10px;
    background-color: #c25817;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-family: Verdana;
    padding: 10px;
    background-image: url("assets/bglow.png");
    background-size: 120% 150%;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-family: Verdana;
    padding: 10px;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-size: 150% 120%;
    background-position: center;
  }
}

/* Header/Blog Title */
.header {
  opacity: 0.7;
  padding: 30px;
  text-align: center;
  background-color: #111d5e;
  color: #c0e218;
  font-weight: bold;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 60%;
  padding: 10px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/*  form */

.poll-form {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: gray;
  font-size: 30px;
}

/*Che*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px bold "Open Sans", Arial, sans-serif;
  color: #03abad;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 7px solid black;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.9;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
  color: red;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 1;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
